@font-face {
    font-family: 'e-Ukraine-Regular';
    src: url('./assets/fonts/e-Ukraine-Regular.otf');
  }
  

@font-face {
    font-family: 'e-Ukraine-Bold';
    src: url('./assets/fonts/e-Ukraine-Bold.otf');
  }
  
  
@font-face {
    font-family: 'e-Ukraine-Thin';
    src: url('./assets/fonts/e-Ukraine-Thin.otf');
  }
  
* {
    font-family: 'e-Ukraine-Regular';
}